body {
  font-family: calibri;
  margin: 0;
  padding: 0;
}

p {
  font-size: 23px;
}

h1 {
  font-size: 55px;
}

#logo {
  background-image: url('./../img/home/logo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  height: 350px;
}

#logo img {
  width: 100px;
  margin: 5px;
}

#logo a {
  float: right;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}

#logo a:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 2px solid black;
  margin: 8px;

}

#titolo {
  display: block;
  font-size: 100px;
  font-weight: bold; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  padding: 5%
}

/*fine header*/


.testo {
  padding-right: 8%;
  padding-left: 8%;
  margin-bottom: 100px;
}

#more {
  display: none;
}

#readMore {
  background-color: #bdc3c7;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px;
}

#readMore:hover {
  background-color: #ecf0f1;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 0px;
}


#squadra {
  padding-right: 8%;
  padding-left: 8%;
  margin-bottom: 100px;
}


#squadra * {
  box-sizing: border-box;
}

.player {
  float: left;
  width: 33%;
  padding: 10px;
}

.player img {
  width:100%
}

.player h3 {
  font-size: 25px;
  margin: 0px;
  padding: 3px;
  text-align: center;
}